{{>header}}
    <p>Get some weather!</p>
    <form>
        <input placeholder="Enter a location">
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
{{>footer}}