    </div> <!-- main-content -->
    <footer>
      <p style="font-size: smaller">Author: {{name}}</p>
    </footer>
    {{#if javascript}}
    <script type="text/javascript" src="/js/{{javascript}}"></script>
    {{/if}}
  </body>
</html>