h1 {
  color: steelblue;
}

img.portrait {
  padding: 10px;
  margin: 10px;
  border: 1px solid pink;
  width: 100px;
}

body {
  color: #333;
  font-family: sans;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 16px 0 48px 0;
}

header a {
  color: #888;
  margin-right: 16px;
  text-decoration: none;
}

header a:visited {
  color: #99c;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}

.main-content {
  flex-grow: 1;
}

input {
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: white;
  padding: 8px;
}
